<div class="profile_body ">
    <div class="profile_body_header">
        <h3 class="title active">Photo</h3>
        <h3 class="title">Video</h3>
        <h3 class="title">About</h3>
        <h3 class="title">Favorite</h3>
    </div>
    <div class="profile_body_content">

        <div class="item"> <img src="../../assets/360_F_608557356_ELcD2pwQO9pduTRL30umabzgJoQn5fnd.jpg" alt="" fill>
        </div>
        <div class="item"><img src="../../assets/template_3.jpg" alt="" fill></div>

        <div class="item"> <img src="../../assets/closeup-profile-side-view-portrait-260nw-1785293915.webp" alt="">
        </div>
        <div class="item"><img src="../../assets/happy-confident-millennial-businessman-casual-260nw-2316706565.webp"
                alt="">
        </div>
        <div class="item">
            <img src="../../assets/Selfie.webp" alt="">

        </div>
    </div>
</div>