<div class="chat-body">
    <div class="top">
        <i class="fa-solid fa-magnifying-glass"></i>
        <div class="direct-message">
            <h4 class="text">Direct message</h4>
            <i class="number">4</i>
        </div>
        <h4>Group 5</h4>
    </div>
    <h2>Pinned Message (2)</h2>

    <div class="chat_detail" routerLink="/message">
        <div class="pic">
            <img src="../../assets/template_3.jpg">
            <div class="user_text">
                <h2 class="username">Phillip Franci </h2>
                <p class="type">Hey, It's been a white since we've...</p>
            </div>
        </div>
        <div class="date">
            <span>10:00 am</span>
            <i class="fa-solid fa-check-double"></i>
        </div>
    </div>
    <div class="chat_detail">
        <div class="pic">
            <img src="../../assets/images.jpeg">
            <div class="user_text">
                <h2 class="username">Phillip Franci </h2>
                <p class="type">Hey, It's been a white since we've...</p>
            </div>
        </div>
        <div class="date">
            <span>10:00 am</span>
            <p>2</p>
        </div>
    </div>
    <div class="chat_detail">
        <div class="pic">
            <img src="../../assets/happy-confident-millennial-businessman-casual-260nw-2316706565.webp">
            <div class="user_text">
                <h2 class="username">Phillip Franci </h2>
                <p class="type">Hey, It's been a white since we've...</p>
            </div>
        </div>
        <div class="date">
            <span>10:00 am</span>
            <i class="fa-solid fa-check-double"></i>
        </div>
    </div>
    <div class="chat_detail">
        <div class="pic">
            <img src="../../assets/closeup-profile-side-view-portrait-260nw-1785293915.webp">
            <div class="user_text">
                <h2 class="username">Phillip Franci </h2>
                <p class="type">Hey, It's been a white since we've...</p>
            </div>
        </div>
        <div class="date">
            <span>10:00 am</span>
            <i class="fa-solid fa-check-double"></i>
        </div>
    </div>
    <div class="chat_detail">
        <div class="pic">
            <img src="../../assets/360_F_608557356_ELcD2pwQO9pduTRL30umabzgJoQn5fnd.jpg">
            <div class="user_text">
                <h2 class="username">Phillip Franci </h2>
                <p class="type">Hey, It's been a white since we've...</p>
            </div>
        </div>
        <div class="date">
            <span>10:00 am</span>
            <i class="fa-solid fa-check-double"></i>
        </div>
    </div>
</div>