.chat-body {
    height: 100%;
    background-color: whitesmoke;
    border-radius: 2rem 2rem 0 0;
    padding: 0.5rem 1rem;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    padding: 0 0.3rem;
}

.dm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(200, 205, 209);
    padding: 0.21rem 0.4rem;
    border-radius: 0.7rem;
    text-align: center;

}

.dm .d {
    font-size: 0.6rem;
    font-weight: 600;
}

.dm .number {
    background-color: aqua;
    margin-left: 0.5rem;

    width: 10px;
    font-size: 0.5rem;
    font-weight: 400;
    border-radius: 50%;

}