<div class="top-profile">
    <a routerLink="/home"><i class="fa-solid fa-arrow-left-long"></i></a>
    <div class="profile-head">
        <div class="profile-img">
            <img src="../../assets/Selfie.webp" alt="profile">
        </div>

        <h3>John Doe</h3>
        <p>#Orhantok143</p>
    </div>
    <div class="profile-detail">
        <div class="profile-info">
            <h3>24K</h3>
            <p>Fans</p>
        </div>
        <div class="profile-info">
            <h3>655</h3>
            <p>Following</p>
        </div>
        <div class="profile-info">
            <h3>2129</h3>
            <p>Posts</p>
        </div>
    </div>
    <button class="btn btn-md btn-primary">Follow</button>
</div>