<div class="stories shadow-box">
    <div class="story">
      <i class="fa-solid fa-circle-plus"></i>
    <p>Add</p>
    </div>  
      <div class="story">
        <img src="../../assets/Selfie.webp" alt="story_image">
        <p>username</p>
      </div>
      <div class="story">
        <img src="../../assets/portrait-young-asian-man-looking-confident-taking-selfie-while-standing-outdoors-street_58466-11951.avif" alt="story_image">
        <p>username</p>
      </div>
      <div class="story">
        <img src="../../assets/profile_picture_maker_before.webp" alt="story_image">
        <p>username</p>
      </div>
      <div class="story">
       <div class="add_user">
        <img src="../../assets/template_3.jpg" alt="story_image">
        <i class="fa-solid fa-plus"></i>
       </div>
        <p>username</p>
      </div>
    </div>