<div class="top_chat">
    <p class="muted-text">
        Hi, Admin
    </p>
    <p class="noti"> You Received </p>
    <h4 class="bell">48 Messages</h4>
    <p class="online-chat">
        Contact <span>List</span>
    </p>
    <div class="online-user">
        <div class="user">
            <img src="../../assets/360_F_608557356_ELcD2pwQO9pduTRL30umabzgJoQn5fnd.jpg">
            <p class="username">
                Phillip
            </p>
        </div>
        <div class="user">
            <img src="../../assets/360_F_608557356_ELcD2pwQO9pduTRL30umabzgJoQn5fnd.jpg">
            <p class="username">
                Phillip
            </p>
        </div>

    </div>

</div>