<div class="full">
    <div class="typing">
        <div class="top">
            <i class="fa-solid fa-arrow-left" routerLink="/chat"></i>
            <div class="online">
                <div class="name">Phillip Franci</div>
                <div class="sing">
                    <span></span>
                    <p>Online</p>
                </div>
            </div>
            <i class="fa-solid fa-ellipsis"></i>
        </div>
        <div class="text">
            <div class="you">
                <div class="profile">
                    <img src="../../assets/template_3.jpg">
                </div>
                <div class="chat">
                    <p class="typetext">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, nihil?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, nihil?
                    </p>
                    <label>10:00 am</label>
                </div>
            </div>
            <div class="me">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, deleniti!
                    <i class="fa-solid fa-check-double"></i>
                </p>
                <label>10:01 am</label>
            </div>
        </div>
        <div class="message">
            <i class="fa-solid fa-plus"></i>
            <div class="input">
                <input type="text" placeholder="type text ...">
                <i class="fa-solid fa-location-arrow"></i>
            </div>

        </div>
    </div>
</div>